extends layout

block content
  h1 
    i.glyphicon.glyphicon-envelope
    | #{message.payload.headers.subject}

  .panel.panel-info
    .panel-heading Metadata
    .panel-body
      table.table
        tbody
          tr
            th From
            td= message.payload.headers.from
          tr
            th To
            td= message.payload.headers.to

  ul(class="nav nav-tabs" role="tablist")
    li(class="active")
      a(href="#html" data-toggle="tab") HTML
    li
      a(href="#text" data-toggle="tab") Text
    li
      a(href="#raw" data-toggle="tab") Raw
    li
      a(href="#attachments" data-toggle="tab") 
        | Attachments 
        - if (message.payload.attachments)
          | (#{message.payload.attachments.length})
        - else
          | (0)

  div(class="tab-content")
    div(class="tab-pane active" id="html")
      != message.payload.html
    div(class="tab-pane" id="text")
      pre= message.payload.text
    div(class="tab-pane" id="raw")
      pre= message.raw
    div(class="tab-pane" id="attachments")
      - if (typeof(message.payload.attachments) !== 'undefined')
        table.table.table-striped
          thead
            tr
              th File Name
              th Content Type
              th Size
              th Checksum
          tbody
            - each attachment in message.payload.attachments
              tr
                td= attachment.fileName
                td= attachment.contentType
                td= attachment.length
                td= attachment.checksum
      - else
        | This message has no attachments.

